node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
.env
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.expo-shared/
expo-ui-production-path.js
expo-ui-build-path.js
electron/assets/images/logo.png
electron/paths.json


electron/package.app.json

src/expo-ui.app.config.json
electron/package.app.json
electron/package.app.json
electron/package.app.json
electron/package.app.json
mainPackageJSON.js
mainPackageJSON.json
package-lock.json
jsconfig.json
src/screens/Help/openLibraries.js
