node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
.env
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.expo-shared/
package-lock.json
package-lock.json
expo-ui-production-path.js
expo-ui-build-path.js
package-lock.json
package-lock.json
package-lock.json
src/screens/Help/openLibraries.js
package-lock.json
package-lock.json
package-lock.json
package-lock.json
package-lock.json
electron/assets/images/logo.png
electron/paths.json


electron/package.app.json


src/app.config.json
src/app.config.json
electron/package.app.json
src/components/Chart/appexChart/index.html
electron/package.app.json
